
slides > slide {
  background: #eeeeee;
  background: #ffffff;
}
h2{
  color: #A2D683;
  color: #4c54b0;
  color: #6677ee;
  color: #002D62;  # north park blue
  color: #356fcc;
}

h3 {
  color: #FBD329;   # north park yellow
  color: #71B1C8;
  color: #A2D683;
  color: #A2A653;
  color: #44aa33;
}